<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Template is working</title>
  </head>
  <body>
    <h1>Welcome to the text analyzer. Enter your text</h1>
    <form action="/analyze" method="get">
      <textarea name='text' style='margin: 0px; width: 721px; height: 93px;'></textarea>
      <br>
      <input type="checkbox" name="removepunc"> Remove Punctuations<br>
      <input type="checkbox" name="fullcaps">UPPERCASE<br>
      <input type="checkbox" name="newlineremover">New line remover<br>
      <input type="checkbox" name="spaceremover">Space Remover<br>
      <br />
      <button type="submit">Analyze text</button>
    </form>
  </body><
</html>